* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --btn-permit: #0073CF;

  --light-blue: #0088FF;
  --light-gray: #D3D3D3;

  --log-font-size: 12px;

  --main-nav-color: #555555;
}

html, body, #app {
  width: 100%;
  height: 100%;
}