#header {
    width: 100%;
    height: 110px;
    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    
    z-index: 10;
    display: none;
}


.header_logo{
    width: 25%;
}

.header_logo img{
    width: 140px;
}



.header_list_box{
    width: 50%;
}

.header_list_box ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.header_list_box li{
    padding: 0 50px;
}



.header_login_box{
    width: 25%;
}

.header_login_box ul{
    display: flex;
    list-style: none;
    font-size: 14px;
    justify-content: flex-end;
}

.header_login_box li{
    padding: 0 20px;
}


.cart_img {
    width: 20px;
}


