@import "../../../../assets/scss/_constant";

.board_reply_item {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 20px 0 20px 20px;
}

.board_reply_item_left_border {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100%;

  box-sizing: border-box;
  border-left: 3px solid #d7d7d7;
}

.board_reply_nick_box {
  width: 15%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.board_reply_comment {
  color: gray;
  font-size: 14px;
  cursor: pointer;
}

.board_reply_comment:hover {
  color: $nw-color;
}

.board_reply_content {
  width: 70%;
  padding: 30px 15px;
}

.board_reply_textarea {
  width: 70%;
  padding: 15px;
  box-sizing: border-box;

  resize: none;
  outline: none;
  border-radius: 5px;
}

.board_reply_up_date_box {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board_reply_update,
.board_reply_delete {
  font-size: 14px;
  cursor: pointer;
}

:is(.board_reply_update, .board_reply_delete):hover {
  color: $nw-color;
}

.board_reply_hands {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 40px;
}

.board_reply_up,
.board_reply_down {
  cursor: pointer;
}

:is(.board_reply_up, .board_reply_down):hover {
  color: $nw-color;
}

.board_reply_up_num {
  padding: 0 5px;
}

.board_reply_date_box {
  padding-bottom: 15px;
}

.board_reply_date {
  font-size: 14px;
}
