@import "../../../assets/scss/_constant";

.board_read {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1200px;
  min-height: 360px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 80px;
  background-color: white;

  box-sizing: border-box;
  box-shadow: 2px 2px 2px #b7b7b7, -2px -2px 2px #b7b7b7;
}

.board_read_header {
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.board_read_category {
  padding-bottom: 2px;
  border-bottom: 4px solid $nw-color;
}

.board_read_title {
  width: 100%;

  padding : 0 5px;
  padding-bottom: 21.5px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.board_read_writer_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid black;
  padding : 0 5px;
  padding-bottom: 21.5px;
}

.board_read_writer {
  font-size: 17px;
  margin-right: 40px;
}

.board_read_bview {
  color: gray;
  font-weight: bold;
  font-size: 14px;

  border-bottom: 1px solid #b7b7b7;
}

.board_read_bview_num {
  color: black;
  font-weight: bold;
  font-size: 16px;

  padding-left: 3px;
}

.board_read_postDate_span {
  color: gray;

  font-size: 14px;
  padding-bottom: 2px;
}

.board_read_postDate {
  padding-left: 5px;
}

.board_read_section {
  padding: 40px 15px;
}

.board_read_section img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}

.board_file_box {
  width: 100%;

  margin-left : 26px;
  margin-bottom : 26px;
}

.board_file_icon_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board_file_icon {
  padding-right: 5px;
}

.board_file_title {
  padding : 10px 0;  
  font-weight: bold;
  cursor: pointer;
}

.board_read_footer {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.board_read_footer_box {
  padding-bottom : 5px;
}

.board_read_reply {
  font-size: 20px;
  font-weight: bold;
}

.board_reply_icon {
  padding-left: 7px;
}

.board_read_breply {
  padding-left: 5px;
}
