<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namweb.domain.manager.book.mapper.ManagerBookStatusMapper">

	<select id="selectBookStatus" parameterType="Map" resultType="mBookStatus">
		select name, concat(date_format(book_date, '%m/%d'), ' ', SUBSTR('일월화수목금토', DAYOFWEEK(book_date), 1)) as bookDate, concat(date_format(con_date, '%m/%d'), ' ', SUBSTR('일월화수목금토', DAYOFWEEK(con_date), 1)) as constructorDate from book_wait bw inner join book_wait_list bwl on bw.idx = bwl.book_wait_idx 
		where date_format(book_date, '%Y/%m/%d') = #{date}
		limit #{pageNo}, 4
	</select>
	
	<select id="selectBookListCount" parameterType="String" resultType="int">
		select count(*) from book_wait bw inner join book_wait_list bwl on bw.idx = bwl.book_wait_idx 
		where date_format(book_date, '%Y/%m/%d') = #{date}
	</select>
	
</mapper>