<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namweb.domain.manager.book.mapper.ManagerBookStatusMapper">

	<select id="selectBookStatus" parameterType="Map" resultType="mBookStatus">
		SELECT idx as bwno, name
		, CONCAT(DATE_FORMAT(book_date, '%m/%d'), ' ', SUBSTR('일월화수목금토', DAYOFWEEK(book_date), 1)) as bookDate
		FROM book_wait
		WHERE DATE_FORMAT(book_date, '%Y/%m/%d') = #{date}
		LIMIT #{pageNo}, 4
	</select>
	
	<select id="selectBookListCount" parameterType="String" resultType="int">
		SELECT count(*)
		FROM book_wait 
		where date_format(book_date, '%Y/%m/%d') = #{date}
	</select>
	
	<select id="selectBookListConDate" parameterType="int" resultType="String">
		SELECT CONCAT(DATE_FORMAT(con_date, '%m/%d'), ' ', SUBSTR('일월화수목금토', DAYOFWEEK(con_date), 1)) as conDate
		FROM book_wait_list
		WHERE book_wait_idx = #{bwno}
	</select>
	
	<select id="selectBookGraphData" parameterType="String" resultType="barGraph">
		SELECT DISTINCT DATE_FORMAT(bw.book_date, '%Y/%m/%d') as date, (select count(*) from book_wait bws WHERE DATE_FORMAT(bws.book_date, '%Y%m%d') = DATE_FORMAT(bw.book_date, '%Y%m%d') ) as count
		FROM book_wait bw
		WHERE book_date > date_add(now(), interval - 7 day)
		ORDER BY date_format(bw.book_date, '%Y%m%d')
	</select>
	
	<select id="selectBookInfo" parameterType="map" resultType="mBookInfo">
		select CONCAT(DATE_FORMAT(con_date, '%m/%d'), ' ', SUBSTR('일월화수목금토', DAYOFWEEK(con_date), 1)) as date, morning, afternoon, extra
		from book_wait_list
		where book_wait_idx = #{bwno}
		order by con_date
		limit #{pageNo}, 4
	</select>
	
	<select id="selectBookInfoCount" parameterType="int" resultType="int">
		select count(*)
		from book_wait_list
		where book_wait_idx = #{bwno}
	</select>
	
</mapper>