<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namweb.domain.manager.graph.mapper.ManagerGraphMapper">

	<select id="selectBookData" parameterType="String" resultType="barGraph">
		SELECT DISTINCT DATE_FORMAT(bw.book_date, '%Y/%m/%d') as date, (select count(*) from book_wait bws WHERE DATE_FORMAT(bws.book_date, '%Y%m%d') = DATE_FORMAT(bw.book_date, '%Y%m%d') ) as count
		FROM book_wait bw
		WHERE book_date > date_add(now(), interval - 7 day)
		ORDER BY date_format(bw.book_date, '%Y%m%d')
	</select>
	
</mapper>