<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.FruitMapper">
	<insert id="insertMember" parameterType="member">
		insert into project_member
		values(#{id},#{pass},#{nick},#{email})
	</insert>
	<select id="login" resultType="member" parameterType="map">
		select * from project_member
		where id = #{id} and pass = #{pass}
	</select>
	<select id="selectId" resultType="member" parameterType="String">
		select * from project_member
		where id = #{id}
	</select>
	<select id="selectNick" resultType="member" parameterType="String">
		select * from project_member
		where nick = #{nick}
	</select>
</mapper>