@import "../../../../assets/scss/_constant";

.manager_book_status_item {
  width: 95%;
  height: 60px;

  box-shadow: 1px 1px 1px #b7b7b7;

  margin-bottom: 7px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manager_book_status_item:hover {
    background-color: #e4e4e4;

    cursor: pointer;
}

.manager_book_name {
  width: 20%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.manager_book_date {
  width: 20%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.manager_book_constructor_date {
  width: 60%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.manager_book_date_item {
    padding : 5px 5px;
    margin : 0 5px;

    background-color: $nw-color;
    text-align: center;
    color: white;

    border-radius: 5px;

    cursor: pointer;
}