@import "../../../assets/scss/_constant";

.register_page {
  display: flex;
  flex-direction: column;

  width: 80%;
  max-width: 800px;
  box-sizing: border-box;

  padding: 50px;

  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #b7b7b7, -3px -3px 5px #b7b7b7;
}

.register_page > h2 {
  text-align: center;
  color: $nw-color;
  margin-bottom: 40px;
}

.email_p,
.name_p,
.nick_p,
.address_name_p,
.phone_p,
.register_type_p {
  padding: 7px;

  border-bottom: 1px solid black;
}

.email_span,
.password_span,
.name_span,
.nick_span,
.address_span,
.address_detail_span,
.phone_span,
.register_type_span {
  font-size: 18px;
  font-weight: bold;

  padding-left: 5px;
}

.address_name_p {
  height: 19.3px;
  margin: 16.5px 0;
}

.phone_span,
.address_span,
.nick_span,
.password_span,
.name_span {
  margin: 16px 0;
}

.register_type_span,
.register_button {
  margin-top: 16px;
}

.address_detail_span,
.email_span {
  margin-bottom: 16px;
}

.address_detail_input,
.phone_input,
.name_input,
.nick_input,
.email_input,
.password_input,
.password_re_input {
  height: 30px;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 16px;

  margin-bottom: 16.5px;
}

.password_re_input,
.password_input {
  margin-top: 6.5px;
}

.phone_input {
  margin-top: 5px;
}

.not_right {
  margin-bottom: 0;
  padding-left: 5px;

  font-size: 14px;
  color: red;
}

.right {
  margin-bottom: 0;
  padding-left: 5px;

  font-size: 14px;
  color: green;
}

.margin_p {
  margin-top: -2px;
}

.email_button_box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.email_checked {
  position: absolute;

  top: 8px;
  left: 142px;

  color: green;
  font-size: 24px;

  margin-left: 10px;
}

.address_con_p {
  margin-top: -1.5px;
}

.register_button_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.register_button,
.backward_button {
  width: 40%;
  max-width: 130px;
  height: 40px;
  margin : 0 5px;

  border: none;
  border-radius: 5px;
  background-color: $nw-color;

  color: white;

  cursor: pointer;

  transition: 0.3s all;
}

:is(.register_button, .backward_button):hover {
  background-color: white;
  border: 1px solid $nw-color;
  color: $nw-footer-color;
  transition: 0.3s all;
}
