.login_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    box-shadow: 0 0 46px 1px rgba(0, 0, 0, 0.25);

    padding: 20px;
}

.login_title_div h3 {
    font-size: 24px;
}

.login_btn_div {
    width: 100%;

    margin-bottom: 5px;
}

.first_login_btn_div
, .second_login_btn_div
, .third_login_btn_div
, .fourth_login_btn_div {
    width: 100%;
    margin-bottom: 10px;
}

.login_btn {
    width: 100%;
    
    padding: 10px;
    box-sizing: border-box;

    border: none;
    border-radius: 5px;

    color: white;

    cursor: pointer;
}

@keyframes swift-up {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }
}

.common_login_p {
    display: flex;
    justify-content: center;

    overflow: hidden;
}

.common_login_icon {
    animation: .3s swift-up ease-in-out forwards;
    margin-right: 5px;
}

.common_login_span {
    animation: .6s swift-up ease-in-out forwards;
}

.first_login_btn {
    background-color: rgb(82, 82, 211);
}

.second_login_btn {
    background-color: red;
}

.third_login_btn {
    background-color: orange;
}

.fourth_login_btn {
    background-color: green;
}