<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namweb.domain.member.mapper.MemberSelectMapper">

	<select id="selectMemberInfo" parameterType="String" resultType="member">
		select email, name, nick, phone, register_type, address, address_detail from member where email = #{email}
	</select>
	
</mapper>