.book_root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27px 0;
}

.book_post_ul {
    margin: 0;
    padding : 0;
    text-align: center;
}

.book_post_ul li {
    margin: 15px 0;
    list-style: none;
}

.book_date_p {
    margin-top: -10px;
}

