@import "../../../assets/scss/_constant";

.find_pw_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 400px;
}

.find_pw_p {
  color: $nw-color;
  font-size: 18px;
}

.find_pw_div_left {
  transform: translateX(-100%);
  transition: 0.5s all;
}

.find_pw_div_right {
  transform: translateX(0);
  transition: 0.5s all;
}

.find_pw_span_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  width: 100%;

  margin-top: 24px;

  padding-left: 23%;
}

.find_pw_span {
  font-weight: bold;
}

.find_pw_button,
.find_pw_span {
  margin-bottom: 16px;
}

.find_pw_input {
  margin-bottom: 40px;
}

.find_pw_input {
  width: 80%;

  border: none;
  outline: none;

  padding: 5px;
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;

  border-bottom: 1px solid black;
}

.not_right {
  font-size: 14px;
  color: red;
  margin-top: -25px;
}

.find_pw_button_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.find_pw_button {
  width: 130px;
  height: 40px;
  margin: 0 5px;
  margin-bottom: 15px;

  border: none;
  border-radius: 5px;
  background-color: $nw-color;

  color: white;

  cursor: pointer;

  transition: 0.3s all;
}

.find_pw_button:hover {
  background-color: white;
  border: 1px solid $nw-color;
  color: $nw-footer-color;
  transition: 0.3s all;
}

.find_pw_fail {
  width: 300px;
  background-color: red;
}

.find_pw_fail:hover {
  background-color: white;
  border: 1px solid red;
  color: red;
  transform: 0.3s all;
}

.find_pw_loading {
  background-color: gray;
}

.find_pw_loading:hover {
  cursor: not-allowed;
  color: gray;
  border : 1px solid gray;
}