@import "../../../assets/scss/_constant";

.rewrite_pw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 225.67px;
}

.rewrite_pw_left_one {
  transform: translateX(-100%);
  transition: 0.5s all;
}

.rewrite_pw_left_two {
  transform: translateX(-200%);
  transition: 0.5s all;
}

.rewrite_pw_right_one {
  transform: translate(0);
  transition: 0.5s all;
}

.pw_one_label {
    margin-left : -155px;
    margin-bottom: 20px;
}

.pw_input,
.pw_re_input {
  width: 80%;

  border: none;
  outline: none;

  padding: 5px;
  height: 30px;
  box-sizing: border-box;
  font-size: 16px;

  border-bottom: 1px solid black;

  margin-bottom : 20px;
}

.btn_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pw_change_btn {
  width: 130px;
  height: 40px;
  margin: 0 5px;
  margin-bottom: 10px;

  border: none;
  border-radius: 5px;
  background-color: $nw-color;

  color: white;

  cursor: pointer;

  transition: 0.3s all;
}

.cancel_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 14px;

  width: 130px;
  height: 40px;
  margin: 0 5px;

  border: none;
  border-radius: 5px;
  background-color: $nw-color;

  color: white;

  cursor: pointer;

  transition: 0.3s all;
}

:is(.pw_change_btn, .cancel_btn):hover {
    border: 1px solid $nw-color;
    color: $nw-color;
    background-color: white;
}

.not_right {
    color: red;
    font-size: 14px;
    margin-top: -7px;
    margin-bottom: 13.5px;
}

.right {
    color: green;
    font-size: 14px;
    margin-top: -7px;
    margin-bottom: 13.5px;
}