@import "../../../assets/scss/_constant";

.board_spread_tr > td:nth-child(1),
.board_spread_tr > td:nth-child(3),
.board_spread_tr > td:nth-child(4),
.board_spread_tr > td:nth-child(5) {
  text-align: center;
}

.board_spread_tr > td {
    height: 50px;

    border-bottom: 1px solid #b7b7b7;
}

.board_reply_span {
    display: inline-block;
    height: 19px;

    background-color: $nw-footer-color;
    color: white;
    border-radius: 5px;

    padding: 2px 7px;
    margin-left: 10px;

    cursor: pointer;

    transition : 0.3s all;
}

.board_reply_span:hover {
    background-color: $nw-color;
}
