<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.namweb.domain.board.bulletin.mapper.BoardBulletinMapper">

	 <select id="selectBoardList" parameterType="map"
		resultType="board">
		SELECT b.bno, 
		(select count(*) from board_reply br where br.bno = b.bno) as bReply,
		case
		when b.category = 1
		then '공지'
		when b.category = 2
		then '자유'
		when b.category = 3
		then
		'의뢰'
		end as category, b.title, b.nick, b.post_date as postDate,
		email, bview as bView
		FROM board b
		where b.title like
		concat('%',#{search},'%')
		and b.content like concat('%',#{search},'%')
		<if test="category != 0">
			and b.category = #{category}
		</if>
		order by b.bno desc
		LIMIT #{pageStartNo}, 15
	</select>

	<select id="selectBoardListCount" parameterType="map"
		resultType="int">
		select count(*) from board
		where title like concat('%',#{search},'%')
		and content like concat('%',#{search},'%')
		<if test="category != 0">
			and category = #{category}
		</if>
	</select>

	  <select id="selectBoardDetail" resultType="board">
	 	SELECT bno,
		case
		when category = 1
		then '공지'
		when category = 2
		then '자유'
		when category = 3
		then
		'의뢰'
		end as category, content, title, nick, post_date as postDate,
		email, bview as bView
		FROM board
		where bno = #{bno}
	 </select>

	 <select id="selectBoardReply" parameterType="int"
		resultType="reply">
		SELECT br.replyno, br.bno, br.replyforno, br.email, br.nick, br.content,
		IFNULL((select count(*) from board_reply_like brl where brl.replyno = br.replyno), 0) as replyLikeNum,
		br.reply_date as replyDate, br.mno
		FROM board_reply br
		WHERE br.bno = #{bno}
	</select>
	
	<select id="selectMemberNo" parameterType="String" resultType="int">
		select mno
		from member
		where email = #{email}
	</select>
	
	<select id="selectBoardReplyNum" parameterType="int" resultType="int">
		select IFNULL(count(*), 0) as bReply 
		from board_reply
		where bno = #{bno}
	</select>
	
	<select id="selectBoardReplyHasReply" parameterType="int" resultType="int">
		select count(*)
		from board_reply
		where replyforno = #{replyforno}
	</select>
	
	<select id="selectBoardReplyLikeHas" parameterType="reply" resultType="reply">
		select replyno, mno
		from board_reply_like
		where replyno = #{replyno}
	</select>
	
	<select id="selectBoardReplyHateHas" parameterType="reply" resultType="reply">
		select replyno, mno
		from board_reply_hate
		where replyno = #{replyno}
	</select>

</mapper>