<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namweb.domain.board.bulletin.mapper.BoardBulletinInsertMapper">

	<insert id="insertReply" parameterType="reply">
		insert into board_reply(replyno, bno, replyforno, email, nick, content, reply_date, mno)
		values(nextval('board_reply_seq'), #{bno}, #{replyforno}, #{email}, #{nick}, #{content}, sysdate(), #{mno})
	</insert>
	
	<insert id="insertReplyLike" parameterType="reply">
		insert into board_reply_like(replyno, mno)
		values(#{replyno}, #{mno})
	</insert>
	
	<insert id="insertReplyHate" parameterType="reply">
		insert into board_reply_hate(replyno, mno)
		values(#{replyno}, #{mno})
	</insert>
	
</mapper>