<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namweb.domain.board.bulletin.mapper.BoardBulletinUpdateMapper">

	<update id="updateBoardView" parameterType="int">
		update board
		set bview = bview + 1
		where bno = #{bno}
	</update>
	
	<update id="updateBoardReply" parameterType="reply">
		update board_reply
		set content = #{content}
		where replyno = #{replyno}
	</update>
	
	<update id="updateBoardReplyNotDelete" parameterType="int">
		update board_reply
		set replyforno = -2
		where replyno = #{replyno}
	</update>
	
</mapper>