.menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;

  margin-right: 40px;
}

.menu_introduce,
.menu_bulletin,
.menu_register,
.menu_login {
  text-decoration: none;

  font-size: 20px;
  font-weight: bold;

  margin-right: 40px;

  color: black;

  z-index: 10;
}

.menu_login_box {
  position: relative;

  margin-right : 40px;
  z-index: 5;
}

.menu_login_admin {
  position: absolute;
  top: 0px;
  right: 0;

  animation: 1s fadeinout;
}

@keyframes fadeinout {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.menu_login_dummy {
  height: 45px;
}

.menu_icon {
  margin-top: 6px;
  margin-left: -10px;
  font-size: 30px;

  cursor: pointer;
}
