.menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;

    margin-right: 40px;
}

.menu a {
    text-decoration: none;

    font-size: 20px;
    font-weight: bold;

    margin-right: 40px;

    color: black;
}

.menu_icon {
    margin-top : 6px;
    margin-left : -10px;
    font-size: 30px;
}