.board_write_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1200px;
  height: 1200px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #b7b7b7, -1px -1px 5px #b7b7b7;
}

.react_quill {
    width: 80%;
    height: 800px;
}