@import "../../assets/scss/_constant";

.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 400px;
  width: 80%;
  height: 360px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #b7b7b7, -3px -3px 10px #b7b7b7;
}

.login_input_box {
  max-width: 260px;
  width: 80%;
}

.login_span {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;

  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.id_input,
.pw_input {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  margin-bottom: 10px;

  outline: none;
}

.login_button {
  width: 100%;
  height: 40px;

  border: none;
  border-radius: 7px;
  background-color: $nw-color;

  color: white;

  cursor: pointer;

  transition: 0.3s all;
}

.login_button:hover {
  border: 1px solid $nw-color;
  background-color: white;
  color: $nw-footer-color;

  transition : 0.3s all;
}

.login_btn_not_right {
  background-color: red;
  transition : 0.3s all;
}

.login_btn_not_right:hover {
  background-color: white;
  color: red;
  border : 1px solid red;

  transition : 0.3s all;
}

.register_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

.register_link,
.id_pw_find_link {
  font-size: 14px;
  padding: 0 7px;
  text-decoration: none;
  color: black;
}

.login_api_box {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.login_api_box img {
  margin-right: 7px;
}
