@import "../../../assets/scss/_constant";

.name_button {
  width: 40%;
  max-width: 100px;
  height: 38.5px;

  border: none;
  border-radius: 5px;
  background-color: $nw-color;

  color: white;

  cursor: pointer;
}

.name_right {
  margin-bottom: 0;
  padding-left: 5px;

  font-size: 14px;
  color: red;
}
