@import "../../../assets/scss/constant.scss";

.sign_in_div {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    box-shadow: 0 0 46px 1px rgba(0, 0, 0, 0.25);

    padding: 20px;
}

.sign_in_div > div {
    width: 100%;

    margin-bottom: 10px;
}

.sign_id_div
, .sign_pw_div {
    position: relative;
}

.id_legend
, .pw_legend {
    position: absolute;

    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    color: #aaaaaa;
    pointer-events: none;
    transition: 0.3s;
}

.id_input_focused
, .pw_input_focused {
    top: 0px;

    padding: 0 5px;

    background-color: white;
    color: black;

    font-size: 13px;
}

.sign_id_div .id_legend.focused
, .sign_pw_div .pw_legend.focused {
    top: 0px;
    padding: 0 5px;
    background-color: white;
    color: black;
    font-size: 13px;
}

.sign_in_div > div > button
, .sign_in_div > div > div > button
, .sign_in_div > div > div > a
, .sign_in_div > div > input {
    width: 100%;
    max-height: 39px;

    padding: 10px;

    outline: none;

    box-sizing: border-box;
}

.sign_in_div > div > button
, .sign_in_div > div > div > button
, .reg_btn
, .bf_btn {
    height: 39px;
    
    border: none;
    border-radius: 5px;

    background-color: $sky-blue-btn;
    color: white;

    cursor: pointer;
}

.sign_btn {
    background-color: $sign-in-btn !important;

    font-weight: 900;

    transition: 0.15s ease-in-out;
}

.sign_btn:hover {
    transform: scale(1.025);
}

.btn_menu_div {
    width: 100%;

    display: flex;
}

.btn_menu_div > div {
    width: 50%;
}

.btn_menu_div > div:first-child {
    margin-right: 10px;
}

.bf_btn
, .reg_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    text-decoration: none;
}

.find_user_div span {
    margin-left: 5px;

    font-size: 13px;

    cursor: pointer;
}

.find_user_div span:hover {
    color: $main-black-blue;
}

.water_mark_div {
    position: absolute;

    bottom: 15px;

    pointer-events: none;

    display: flex;
    justify-content: center;

    font-size: 11px;
}