@import "../../assets/scss/_constant";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 120px;
    
    background-color: $nw-footer-color;
}

.footer p {
    margin : 5px 15px;
    color: white;
    
    font-size: 14px;
}