<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.namweb.global.quill.mapper.QuillMapper">

	<select id="selectBoardNo" resultType="int">
		select nextval('board_seq') from dual
	</select>
	
	<select id="selectBoardPhotoNo" resultType="int">
		select nextval('board_photo_seq') from dual
	</select>
	
	<select id="selectBoardFileNo" resultType="int">
		select nextval('board_file_seq') from dual
 	</select>
	
	<insert id="insertQuillOnlyImage" parameterType="image">
		insert into board_image(photono, photopath, filename, type)
		values(#{photoNo}, #{photoPath}, #{fileName}, #{type})
	</insert>
	
	<delete id="deleteNotUploadImage" parameterType="int[]">
		delete from board_image
		where photono in 
		<foreach item="photoNumbers" collection="array" open="(" close=")" separator=",">
			#{photoNumbers}
		</foreach>
	</delete>
	
	<update id="updateImageNoLink" parameterType="qlImage" >
		update board_image
		set bno = #{boardNo}
		where photono in 
		<foreach item="item" collection="photoNo" open="(" close=")" separator=",">
			#{item}
		</foreach>  
	</update>
	
</mapper>