.chat_message_div {
    max-width: 80%;
    margin-bottom: 20px;
}

.chat_user_pubTime {
    font-size: 13px;
    align-self: flex-end;
}

.chat_my_pubTime {
    text-align: right;
}

.chat_board_message_root {
    width: fit-content;

    padding: 20px;
    
    color: white;
    
    border-radius: 15px;
    
    font-size: 24px;
}

.chat_board_message_mine {
    align-self: flex-end;
}

.chat_my_msg {
    border-bottom-right-radius: 0;
}

.chat_other_msg {
    border-bottom-left-radius: 0;
}

.msg_emo_div {
    padding: 20px 0;
}

.msg_emo_div img {
    border-radius: 10px;

    max-width: 100%;
}