.chat_board_message_root {
    width: fit-content;

    padding: 20px;
    margin-bottom: 25px;
    margin-left: 40px;

    color: white;

    border-radius: 15px;
}

.chat_board_message_mine {
    align-self: flex-end;

    margin-right: 40px;

    border-bottom-right-radius: 0;
}

.chat_board_message_others {
    margin-left: 40px;

    border-bottom-left-radius: 0;
}

.msg_emo_div {
    padding: 20px 0;
}

.msg_emo_div img {
    border-radius: 10px;
}