.chat_board_message_root {
    width: fit-content;

    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 40px;

    background-color: rgb(63, 63, 178);
    color: white;

    border-radius: 7px;
}

.chat_board_message_mine {
    background-color: rgb(255, 145, 0);

    align-self: flex-end;

    margin-right: 40px;
}

.chat_board_message_others {

}