.pw_wrapper {
    position: relative;
}

.pw_wrapper svg {
    position: absolute;

    top: 50%;
    right: 10px;

    transform: translateY(-50%);

    cursor: pointer;
}

.pw_wrapper input {
    outline: none;
}